/* Reset default styles */
body {
    /* Add styles for body */
    background-image: url(image/img.png);

    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* Header styles */
header {
    /* Add header styles */
    background-color: #616161;
    color: #ded1cf;
    padding: 10px;
    text-align: center;
}

/* Heading styles */
h1 {
    /* Add h1 styles */
    margin: 0;

}

h2 {
    /* Add h2 styles */
    background-color: #B87333;
    color: #191717;

}

h3 {
    /* Add h3 styles */
    background-color: #4f4f4f;
    color: #d1cbcb;
}

/* Navigation styles */
nav {
    /* Add nav styles */
    margin: 0;

}

nav ul {
    /* Add styles for navigation list */
    margin: 0;

}

nav li {
    /* Add styles for list items */
    display: inline;
}

/* Link styles */
a {
    /* Add link styles */
    text-decoration: darkblue;
}

a:hover {
    /* Add hover effect for links */
    text-decoration: underline;
}

/* Main content styles */
main {
    /* Add main styles */
    margin: 0;
}

/* Section styles */
section {
    /* Add section styles */
    margin: 0;
}

/* Paragraph styles */
p {
    /* Add paragraph styles */
}

/* Footer styles */
footer {
    /* Add footer styles */
}